@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    cursor: default;
}

input,
button,
textarea {
    font: inherit;
}

:root {
    /* || COLOR */
    /* NEUTRAL */
    --NEUTRAL-900: hsl(33, 15%, 15%);
    --NEUTRAL-800: hsl(33, 22%, 20%);
    --NEUTRAL-700: hsl(32, 20%, 29%);
    --NEUTRAL-600: hsl(33, 17%, 41%);
    --NEUTRAL-400: hsl(36, 22%, 86%);
    --NEUTRAL-200: hsl(30, 24%, 93%);
    --NEUTRAL-100: hsl(35, 60%, 96%);
    --NEUTRAL-50: hsl(40, 60%, 98%);
    --NEUTRAL-0: hsl(0, 0%, 100%);

    /* SUN */
    --SUN-500: hsl(42, 83%, 58%);
    --SUN-300: hsl(44, 84%, 75%);
    --SUN-200: hsl(45, 100%, 74%);
    --SUN-50: hsl(41, 100%, 93%);

    /* TERRACOTTA */
    --TERRACOTA-700: hsl(15, 69%, 37%);
    --TERRACOTA-600: hsl(15, 74%, 41%);
    --TERRACOTA-500: hsl(18, 62%, 47%);
    --TERRACOTA-400: hsl(22, 72%, 56%);

    /* BLUE */
    --BLUE-500: hsl(230, 49%, 56%);

    /* ROSE */
    --ROSE-500: hsl(340, 48%, 52%);

    /* || FONT */
    --FS: 14px;

    --FONT-HEADER: Fraunces;
    --FONT-SANS: "DM Sans";
    --FONT-MONO: "DM Mono";

    --FW-LIGHT: 300;
    --FW-NORMAL: 400;
    --FW-BOLD: 500;
    --FW-BOLDER: 600;

    /* || BACKGROUND */
    --BG-COLOR: var(--NEUTRAL-100);
    --HEADER-COLOR: var(--NEUTRAL-600);
}

/* || GENERAL STYLING */
body {
    background-color: var(--BG-COLOR);
    color: var(--NEUTRAL-800);
    display: flex;
    flex-direction: column;
    font: var(--FS) var(--FONT-SANS);
    font-weight: var(--FW-NORMAL);
    justify-self: center;
    max-width: 1440px;
    min-height: 100vh;
    width: 100vw;
}

a,
a:hover,
a:visited {
    color: currentColor;
    text-decoration: none;
}

span.terracota {
    color: var(--TERRACOTA-500);
    font-style: italic;
    font-weight: var(--FW-NORMAL);
}

/* || SIDEBAR/MENU STYLING */
.sidebar {
    background-color: var(--NEUTRAL-100);
    height: 100%;
    padding: 0.8rem 0.8rem 0 0.8rem;
    z-index: 1;
}

.title-line {
    align-items: center;
    background-color: var(--BG-COLOR);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0.2rem 0 0.8rem 0;
    position: sticky;
    top: 0;
}

.brand {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.brand-logo {
    margin-left: 0.1rem;
    margin-right: 0.5rem;
}

.brand h1 {
    font: 1.1rem var(--FONT-HEADER);
    font-weight: var(--FW-BOLDER);
    max-width: 1rem;
}

.menu-button {
    align-items: center;
    background-color: transparent;
    border: 1px solid var(--NEUTRAL-400);
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    position: relative;
    height: 2rem;
    width: 2rem;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
    background-color: var(--HEADER-COLOR);
    border-radius: 0.1rem;
    width: 1rem;
    height: 2px;
    position: absolute;
    transition: all 0.5s;
}

.menu-icon::before,
.menu-icon::after {
    content: "";
}

.menu-icon::before {
    transform: translate(-50%, -0.4rem);
}

.menu-icon::after {
    transform: translate(-50%, 0.4rem);
}

:is(.title-line:hover, .title-line:focus) .menu-icon {
    background-color: transparent;
    transform: rotate(270deg);
}

:is(.title-line:hover, .title-line:focus) .menu-icon::before {
    transform: translateX(-50%) rotate(45deg);
}

:is(.title-line:hover, .title-line:focus) .menu-icon::after {
    transform: translateX(-50%) rotate(-45deg);
}

:is(.title-line:hover, .title-line:focus-within)+.sidebar__content,
.sidebar__content:hover {
    display: flex;
    height: 86vh;
}

/* ||| NAV STYLING */
.sidebar__content {
    background-color: var(--NEUTRAL-100);
    border-top: 2px solid var(--NEUTRAL-200);
    display: none;
    flex-direction: column;
    height: 0;
    overflow-y: hidden;
    justify-content: space-between;
    padding-top: 1rem;

    /* animation: showMenu 0.5s ease forwards; */
    /* transform-origin: top center; */
}

/* @keyframes showMenu {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scaleY(1.1);
    }

    100% {
        transform: scaleY(1);
    }
} */

nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    list-style: none;
}

nav ul li {
    /* border: 1px solid magenta; */
    align-items: center;
    justify-content: left;
    color: var(--NEUTRAL-600);
    display: flex;
    padding: 0.5rem;
}

nav ul li:hover {
    background-color: var(--NEUTRAL-50);
    border-radius: 0.3rem;
    box-shadow: 3px 3px 5px var(--NEUTRAL-200);
    color: var(--NEUTRAL-800);
}

nav ul li svg {
    margin-left: 0.2rem;
    margin-right: 0.5rem;
}

nav ul li .notification {
    align-content: center;
    background-color: var(--TERRACOTA-400);
    border-radius: 1rem;
    color: var(--NEUTRAL-50);
    font-size: 0.6rem;
    text-align: center;
    margin-left: auto;

    height: 1rem;
    width: 1rem;
}

/* ||| WEATHER CARD */
.weather-card {
    align-items: center;
    background-color: var(--SUN-300);
    border: none;
    border-radius: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    min-width: 14rem;
    overflow: hidden;
    padding: 0 1rem;
}

.weather-card__info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.weather-card__location {
    color: var(--NEUTRAL-600);
    font-family: var(--FONT-MONO);
    font-size: 0.55rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.weather-card__temperature {
    color: var(--NEUTRAL-800);
    font-family: var(--FONT-HEADER);
    font-size: 2rem;
}

.weather-card__forecast {
    color: var(--NEUTRAL-600);
    font-family: var(--FONT-SANS);
    font-size: 0.8rem;
}

.weather-card__icon {
    position: relative;
    top: -1rem;
    right: -1.5rem;
}

/* ||| COPYRIGHT */
.copyright {
    border-top: 2px solid var(--NEUTRAL-200);
    color: var(--NEUTRAL-600);
    font-family: var(--FONT-MONO);
    font-size: 0.6rem;
    padding-top: 0.8rem;
    letter-spacing: 0.06rem;
    text-transform: uppercase;
}

.copyright p {
    margin-bottom: 0.5rem;
}

/* || MAIN CONTENT STYLING */
/* hides the main content when the sidebar menu is open */
:has(:is(.title-line:hover, .title-line:focus-within) + .sidebar__content, .sidebar__content:hover)~main {
    display: none;
}

main {
    border-top: 2px solid var(--NEUTRAL-200);
    padding: 1rem;
}

/* || HEADER */
.subheading {
    color: var(--NEUTRAL-600);
    font-family: var(--FONT-MONO);
    font-size: 0.7rem;
    letter-spacing: 0.2rem;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
}

.heading {
    font-family: var(--FONT-HEADER);
    font-size: 2rem;
    padding: 0.5rem 0;
}

.header__buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 0;
}

.header__buttons button {
    border-radius: 3rem;
    flex: 1;
    font-size: 0.7rem;
    font-weight: var(--FW-BOLD);
    padding: 0.4rem;
}

.print-receipt {
    background-color: var(--NEUTRAL-50);
    border: 1px solid var(--NEUTRAL-200);
    color: var(--NEUTRAL-900);
}

.add-to-calendar {
    background-color: var(--NEUTRAL-900);
    border: 1px solid var(--NEUTRAL-900);
    color: var(--NEUTRAL-50);
}

/* || BOOKING CARDS */
.booking-cards {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
    padding: 0.1rem;
}

.receipt-card,
.note-card {
    border-radius: 1rem;
    min-height: 15rem;
    scale: 0.95;
}

.receipt-card {
    transform: rotate(-1deg);
}

/* ||| NOTE CARD */
.note-card {
    background-color: var(--TERRACOTA-500);
    background-image: radial-gradient(farthest-corner at 90% 0%,
            var(--TERRACOTA-400),
            var(--TERRACOTA-700));
    box-shadow: 2px 4px 18px -2px var(--TERRACOTA-400);
    color: var(--NEUTRAL-400);
    font-weight: var(--FW-LIGHT);
    padding: 1rem;
    transform: rotate(1deg);
}

.note-card__header {
    border-top: 1px dashed var(--TERRACOTA-400);
    display: flex;
    flex-direction: row;
    font-family: var(--FONT-MONO);
    font-size: 0.5rem;
    justify-content: space-between;
    letter-spacing: 0.08rem;
    padding: 0.8rem 0;
    text-transform: uppercase;
}

.note-card__title {
    font-family: var(--FONT-HEADER);
    font-size: 1rem;
    font-style: italic;
    padding-bottom: 1rem;
}

.note-card__host {
    font-size: 2rem;
}

.note-card p {
    font-size: 0.8rem;
}

.note-card__footer {
    margin-top: 3.5rem;
}

.note-card__footer_sub {
    font-family: var(--FONT-MONO);
    font-size: 0.7rem;
    text-transform: uppercase;
}

.note-card__footer_room {
    font-family: var(--FONT-HEADER);
    font-size: 1.1rem;
    padding-top: 0.2rem;
}

/* || DEBUGGING STYLES */
.guest-info {
    display: none;
}

.attribution {
    display: none;
}